<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>详情</title>
	<link th:href="@{../../jquery-easyui-1.6.6/themes/default/easyui.css}" href="../../jquery-easyui-1.6.6/themes/default/easyui.css" rel="stylesheet" type="text/css">
    <link th:href="@{../../jquery-easyui-1.6.6/themes/icon.css}" href="../../jquery-easyui-1.6.6/themes/icon.css" rel="stylesheet" type="text/css">
    <script th:src="@{../../jquery-easyui-1.6.6/jquery.min.js}" src="../../jquery-easyui-1.6.6/jquery.min.js" type="text/javascript"></script>
    <script th:src="@{../../jquery-easyui-1.6.6/jquery.easyui.min.js }" src="../../jquery-easyui-1.6.6/jquery.easyui.min.js" type="text/javascript"></script>
    <script th:src="@{../../jquery-easyui-1.6.6/jquery.cookie.js }" src="../../jquery-easyui-1.6.6/jquery.cookie.js" type="text/javascript"></script>
     
</head>
<body>
	<div class="easyui-panel"   style="width:400px">
		<table>
			<tr>
				<td>id：</td>
				<td th:text="${entity.id}"></td>
			</tr>
			<tr>
				<td>姓氏：</td>
				<td th:text="${entity.familyName}"></td>
			</tr>
			<tr>
				<td>名字：</td>
				<td th:text="${entity.firstName}"></td>
			</tr>
			<tr>
				<td>全名：</td>
				<td th:text="${entity.name}"></td>
			</tr>
			<tr>
				<td>归属部门：</td>
				<td >
					<th:block th:if="${entity.organization} != null"  >
						<th:block th:text="${entity.organization.name}"  >
						</th:block>
					</th:block>
				</td>
			</tr>
			<tr>
				<td>显示手机：</td>
				<td th:text="${entity.mobile}"></td>
			</tr>
			<tr>
				<td>用户头像：</td>
				<td th:text="${entity.photo}"></td>
			</tr>
			<tr>
				<td>性别：</td>
				<td th:switch="${entity.sex}">
			        <th:block th:case="0">女</th:block>
			        <th:block th:case="1">男</th:block>
				</td>
			</tr>
			<tr>
				<td>邮箱：</td>
				<td th:text="${entity.email}"></td>
			</tr>
			<tr>
				<td>微信账号：</td>
				<td th:text="${entity.weixin}"></td>
			</tr>
			<tr>
				<td>qq账号：</td>
				<td th:text="${entity.qq}"></td>
			</tr>
			<tr>
				<td>办公地址：</td>
				<td th:text="${entity.officeAddress}"></td>
			</tr>
			<tr>
				<td>职位：</td>
				<td th:text="${entity.job}"></td>
			</tr>
			<tr>
				<td>工号：</td>
				<td th:text="${entity.jobNumber}"></td>
			</tr>
			<tr>
				<td>学历：</td>
				<td th:text="${entity.education}"></td>
			</tr>
			<tr>
				<td>毕业学校：</td>
				<td th:text="${entity.school}"></td>
			</tr>
			<tr>
				<td>专业：</td>
				<td th:text="${entity.major}"></td>
			</tr>
			<tr>
				<td>毕业日期：</td>
				<td th:text="${entity.graduationDate}"></td>
			</tr>
			<tr>
				<td>籍贯：</td>
				<td th:text="${entity.natives}"></td>
			</tr>
			<tr>
				<td>民族：</td>
				<td th:text="${entity.nation}"></td>
			</tr>
			<tr>
				<td>身份证号：</td>
				<td th:text="${entity.identity}"></td>
			</tr>
			<tr>
				<td>护照号码：</td>
				<td th:text="${entity.passport}"></td>
			</tr>
			<tr>
				<td>社保号码：</td>
				<td th:text="${entity.social}"></td>
			</tr>
			<tr>
				<td>银行账号：</td>
				<td th:text="${entity.bankAccount}"></td>
			</tr>
			<tr>
				<td>生日：</td>
				<td th:text="${#dates.format(entity.birthday, 'yyyy-MM-dd')}"></td>
			</tr>
			<tr>
				<td>婚姻状况：</td>
				<td th:text="${entity.marriage}"></td>
			</tr>
			<tr>
				<td>家庭住址：</td>
				<td th:text="${entity.address}"></td>
			</tr>
			<tr>
				<td>紧急联系人：</td>
				<td th:text="${entity.emergencyContact}"></td>
			</tr>
			<tr>
				<td>紧急联系电话：</td>
				<td th:text="${entity.emergencyPhone}"></td>
			</tr>
			<tr>
				<td>联系人列表及信息：</td>
				<td th:text="${entity.linkList}"></td>
			</tr>
			<tr>
				<td>座机：</td>
				<td th:text="${entity.telPhone}"></td>
			</tr>
			<tr>
				<td>创建者：</td>
				<th:block th:if="${entity.createBy}   == null"  >
					 <td>系统生成</td>
				</th:block>
				<th:block th:if="${entity.createBy}  != null"  >
					 <td th:text="${entity.createBy.name}"></td>
				</th:block>
			</tr>
			<tr>
				<td>创建时间：</td>
				<td th:text="${#dates.format(entity.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
			</tr>
			<tr>
				<td>更新者：</td>
				<th:block th:if="${entity.updateBy}   == null"  >
					 <td>系统生成</td>
				</th:block>
				<th:block th:if="${entity.updateBy}  != null"  >
					 <td th:text="${entity.updateBy.name}"></td>
				</th:block>
			</tr>
			<tr>
				<td>更新时间：</td>
				<td th:text="${#dates.format(entity.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
			</tr>
			<tr>
				<td>是否已上传过头像：</td>
				<td th:switch="${entity.isUpload}">
			        <th:block th:case="0">未上传</th:block>
			        <th:block th:case="1">已上传</th:block>
				</td>
			</tr>
		</table>
		<div style="width:100%; text-align: center;">
			<a href="javascript:void(0)"  class="easyui-linkbutton" onclick="parent.closeTab();">关闭</a>
		</div>
	</div>
</body>
</html>