<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	 <link th:href="@{../../jquery-easyui-1.6.6/themes/default/easyui.css}" href="../../../static/jquery-easyui-1.6.6/themes/default/easyui.css" rel="stylesheet" type="text/css">
    <link th:href="@{../../jquery-easyui-1.6.6/themes/icon.css}" href="../../../static/jquery-easyui-1.6.6/themes/icon.css" rel="stylesheet" type="text/css">
    <script th:src="@{../../jquery-easyui-1.6.6/jquery.min.js}" src="../../../static/jquery-easyui-1.6.6/jquery.min.js" type="text/javascript"></script>
    <script th:src="@{../../jquery-easyui-1.6.6/jquery.easyui.min.js }" src="../../../static/jquery-easyui-1.6.6/jquery.easyui.min.js" type="text/javascript"></script>
	<script th:src="@{../../jquery-easyui-1.6.6/locale/easyui-lang-zh_CN.js }" src="../../../static/jquery-easyui-1.6.6/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
	<!-- ztree -->
	<link rel="stylesheet" th:href="@{../../zTree_v3/css/demo.css}" href="../../../static/zTree_v3/css/demo.css" type="text/css">
	<link rel="stylesheet" th:href="@{../../zTree_v3/css/zTreeStyle/zTreeStyle.css}" href="../../../static/zTree_v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
	<!-- <script type="text/javascript" src="../../../static/zTree_v3/js/jquery-1.4.4.min.js"></script> -->
	<script type="text/javascript" th:src="@{../../zTree_v3/js/jquery.ztree.core.js }" src="../../../static/zTree_v3/js/jquery.ztree.core.js"></script>
	<script type="text/javascript" th:src="@{../../zTree_v3/js/jquery.ztree.excheck.js }" src="../../../static/zTree_v3/js/jquery.ztree.excheck.js"></script>
	<script type="text/javascript" th:src="@{../../zTree_v3/js/jquery.ztree.exedit.js }" src="../../../static/zTree_v3/js/jquery.ztree.exedit.js"></script>
	<script th:inline="javascript" type="text/javascript">
		<!--
		var setting = {
			view: {
				dblClickExpand: false
			},
			check: {
				enable: false
			},
			callback: {
				onRightClick: OnRightClick,
				onClick: zTreeBeforeClick
			}
		};
		function zTreeBeforeClick(event,treeId, treeNode, clickFlag) {
			    /* console.log(treeNode); */
				window.location.href="menuTree?id="+treeNode.id;; 
			};
		var zNodes123 =[
			{id:1, name:"无右键菜单 1", open:true, noR:true,
				children:[
					   {id:11, name:"节点 1-1", noR:true,hyc:11},
					   {id:12, name:"节点 1-2", noR:true,hyc:22}

				]},
			{id:2, name:"右键操作 2", open:true,
				children:[
					   {id:21, name:"节点 2-1",hyc:22},
					   {id:22, name:"节点 2-2"},
					   {id:23, name:"节点 2-3"},
					   {id:24, name:"节点 2-4"}
				]},
			{id:3, name:"右键操作 3",file:"list", open:true,
				children:[
					   {id:31, name:"节点 3-1",file:"list"},
					   {id:32, name:"节点 3-2",file:"list?name=2"},
					   {id:33, name:"节点 3-3"},
					   {id:34, name:"节点 3-4",children:[
					   {id:41, name:"节点 3-1"},
					   {id:42, name:"节点 3-2"},
					   {id:43, name:"节点 3-3"},
					   {id:44, name:"节点 3-4"}
				]}
				]}
  	 	];
		var zNodes = [[${list}]];
		function OnRightClick(event, treeId, treeNode) {
			
			if (!treeNode && event.target.tagName.toLowerCase() != "button" && $(event.target).parents("a").length == 0) {
				zTree.cancelSelectedNode();
				showRMenu("root", event.clientX, event.clientY);
			} else if (treeNode && !treeNode.noR) {
				zTree.selectNode(treeNode);
				showRMenu("node", event.clientX, event.clientY);
			}
			/* //console.log(treeNode); */
		}

		function showRMenu(type, x, y) {
			$("#rMenu ul").show();
			if (type=="root") {
				$("#m_del").hide();
				$("#m_check").hide();
				$("#m_unCheck").hide();
			} else {
				$("#m_del").show();
				$("#m_check").show();
				$("#m_unCheck").show();
			}

            y += document.body.scrollTop;
            x += document.body.scrollLeft;
            rMenu.css({"top":y+"px", "left":x+"px", "visibility":"visible"});

			$("body").bind("mousedown", onBodyMouseDown);
		}
		function hideRMenu() {
			if (rMenu) rMenu.css({"visibility": "hidden"});
			$("body").unbind("mousedown", onBodyMouseDown);
		}
		function onBodyMouseDown(event){
			if (!(event.target.id == "rMenu" || $(event.target).parents("#rMenu").length>0)) {
				rMenu.css({"visibility" : "hidden"});
			}
		}
		var addCount = 1;
		function addTreeNode() {
			hideRMenu();
			/* //console.log(zTree.getSelectedNodes()[0]); */
			if (zTree.getSelectedNodes()[0]) {
				var src = 'system/menu/form?parentId=' + zTree.getSelectedNodes()[0].id ;
				/* openDialog( '添加菜单' , src); */
			} else {
				var src = 'system/menu/form?parentId=0';
			}
				parent.openDialog('添加菜单',src,400,'');
		}
		function removeTreeNode() {
			hideRMenu();
			var nodes = zTree.getSelectedNodes();
			if (nodes && nodes.length>0) {
				if (nodes[0].children && nodes[0].children.length > 0) {
					var msg = "要删除的节点是父节点，如果删除将连同子节点一起删掉。\n\n请确认！";
					if (confirm(msg)==true){
						zTree.removeNode(nodes[0]);
					}
				} else {
						
						$.messager.confirm('删除提示', '你确定要删除该项吗?', function(r){
							if (r){
								$.ajax({
									url:'delete?id=' + nodes[0].id,
									type:"POST",
									dataType:"json",
									success: function(data){
										/*console.log(data);
										 var result = $.parseJSON(data); 
										console.log(result.status); */
										if (data.status == 200 || data.status == "200") {
											$.messager.alert('删除结果','删除成功！','warning',function(){window.location.reload();});
											zTree.removeNode(nodes[0]);
										}else{
											$.messager.alert('删除结果','删除失败！','error');
										}
										
									},
								    error:function(){
								    	$.messager.alert('删除结果','删除失败！','error');
								    }
								});
							}
						});
				}
			}
		}
		
		function checkTreeNode(checked) {
			var nodes = zTree.getSelectedNodes();
			if (nodes && nodes.length>0) {
				zTree.checkNode(nodes[0], checked, true);
			}
			hideRMenu();
		}
		function resetTree() {
			hideRMenu();
			$.fn.zTree.init($("#treeDemo"), setting, zNodes);
		}

		var zTree, rMenu;
		var demoIframe;
		$(document).ready(function(){
			$.fn.zTree.init($("#treeDemo"), setting, zNodes);
			zTree = $.fn.zTree.getZTreeObj("treeDemo");
			rMenu = $("#rMenu");
			 demoIframe = $("#testIframe");
		      demoIframe.bind("load", loadReady);
		      var nodeid = [[${id}]];
		      if (nodeid != null && nodeid !='') {
		    	  var node = zTree.getNodeByParam("id",nodeid,null);
			      zTree.expandNode(node,true,true,true);//将指定ID节点展开
			      expandParentNode(node);
			}
		     
		});
		
		function expandParentNode(node){
			var parentNode = node.getParentNode();
			if(parentNode != null){
				zTree.expandNode(parentNode,true,true,true);
				expandParentNode(parentNode);
			}
		}
		 function loadReady() {
		      var bodyH = demoIframe.contents().find("body").get(0).scrollHeight,
		        htmlH = demoIframe.contents().find("html").get(0).scrollHeight,
		        maxH = Math.max(bodyH, htmlH), minH = Math.min(bodyH, htmlH),
		        h = demoIframe.height() >= maxH ? minH : maxH;
		      if (h < 530) h = 530;
		      demoIframe.height(h);
		    }
		//-->
		 
	</script>
	<style type="text/css">
		div#rMenu {position:absolute; visibility:hidden; top:0; background-color: #555;text-align: left;padding: 2px;}
		div#rMenu ul li{
			margin: 1px 0;
			padding: 0 5px;
			cursor: pointer;
			list-style: none outside none;
			background-color: #DFDFDF;
		}
		iframe { height: 100% !important;}
	</style>
</head>
<body>
<div class="easyui-panel"   style="width:100%;height: 100%;" data-options="fit:true">
	<div class="content_wrap" style="width:100%;height:100%;">
		<table id="menuTable" style="width:100%;height:100%;">
			<tr style="width:100%;height:100%;border: 0;">
				<td style="width:15%;height:100%;vertical-align: top;"><ul id="treeDemo" class="ztree" style="overflow-y: hidden;border: 0;margin: 0"></ul></td>
				<td id="menuTreeIframeDiv" style="width:85%;height:100%;overflow:hidden;">
					<div id="menuPanel" class="easyui-panel"   style="width:100%;height: 100%;" data-options="fit:true">
						<table style="width: 100%;height: 100%;">
							<tr style="height: 100%">
								<td>
									<div id="tb" style="padding:5px;height:auto">
										<div>
											<form id="searchForm" action="menuTree" method="post">
												<input name="id" type="hidden" th:value="${param.id}">
												名称：<!--/*@thymesVar id="param" type="com.hyc.oa.modules.system.menu.entity.Menu"*/-->
												<input name="name" th:value="${param.name}" class="easyui-textbox" style="width:100px;height:32px">
												说明：<input name="description" th:value="${param.description}" class="easyui-textbox" style="width:100px;height:32px">
												url：<input name="url" th:value="${param.url}" class="easyui-textbox" style="width:100px;height:32px">
												编码：<input name="code" th:value="${param.code}" class="easyui-textbox" style="width:100px;height:32px">
												<a href="#" class="easyui-linkbutton" onclick="$('#searchForm').submit();" iconCls="icon-search">Search</a>
											</form>
										</div>
									</div>
									<table id="tt" title="菜单管理" class="easyui-datagrid" data-options="fit:true" style="width:auto;height:auto;" singleSelect="true" rownumbers="true" toolbar='#tb'>
										<thead>
											<tr>
												<th field="name" style="width: 10%;">名称</th>
												<th field="description" style="width: 30%;">说明</th>
												<th field="url" style="width: 20%;">url</th>
												<th field="code"  style="width: 10%;">编码</th>
												<th field="sortNum"  style="width: 10%;">排序</th>
												<th field="name7"  style="width: 20%;">操作</th>
											</tr>
										</thead>
										<tbody>
											<th:block th:each="menu:${page.result}">
												<tr>
													<td th:text="${menu.name}"></td>
													<td th:text="${menu.description}"></td>
													<td th:text="${menu.url}"></td>
													<td th:text="${menu.code}"></td>
													<td th:text="${menu.sortNum}"></td>
													<td >
														<a href="#" class="easyui-linkbutton" th:onclick="'parent.openDialog(\'编辑菜单\',\'system/menu/form?id=' + ${menu.id} +'\',400,\'\')'">编辑</a>
														<a href="#" class="easyui-linkbutton" th:onclick="'parent.del(\'system/menu/delete?id='+${ menu.id}+'\')'">删除</a>
														<a href="#" class="easyui-linkbutton" th:onclick="'parent.openDialog(\'详情\',\'system/menu/detail?id=' + ${menu.id} +'\',400,\'\')'">详情</a>
													</td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td height="36px">
									<div id="dataTablePagination" class="easyui-pagination" style="border:1px solid #ccc;" pagePosition="bottom" th:attr="data-options='pageNumber:'+${page.pageNum}+',total:'+${page.total}+',pageSize:'+${page.pageSize}+',onSelectPage:selectPage'">
									</div>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div id="rMenu">
		<ul>
			<li id="m_add" onclick="addTreeNode();">增加节点</li>
			<li id="m_del" onclick="removeTreeNode();">删除节点</li>
			<!-- <li id="m_check" onclick="checkTreeNode(true);">Check节点</li>
			<li id="m_unCheck" onclick="checkTreeNode(false);">unCheck节点</li>
			<li id="m_reset" onclick="resetTree();">恢复zTree</li> -->
		</ul>
	</div>
</div>
<script type="text/javascript">
		function selectPage(pageNumber, pageSize){
			/* alert('pageNumber:'+pageNumber+',pageSize:'+pageSize);
			alert(window.location.pathname); */
			window.location.href=window.location.pathname+'?pageNumber='+pageNumber+'&pageSize='+pageSize+'&'+$("form").serialize();
		}
		function deleteMenu(id) {
			var url = 'delete'
			if (id != null && id != "") {
				url += '?id='+id;
			}else
			{
				$.messager.alert('操作提示','请选择数据！','error');
				return ;
			}
			
			$.messager.confirm('删除提示', '你确定要删除该项吗?', function(r){
				if (r){
					$.ajax({
						url:url,
						type:"POST",
						dataType:"json",
						success: function(data){
							/*console.log(data);
							 var result = $.parseJSON(data); 
							console.log(result.status); */
							if (data.status == 200 || data.status == "200") {
								$.messager.alert('删除结果','删除成功！','warning',function(){window.location.reload();});
								return true;
							}else{
								$.messager.alert('删除结果','删除失败！','error');
								return false;
							}
							
						},
					    error:function(){
					    	$.messager.alert('删除结果','删除失败！','error');
					    	return false;
					    }
					});
				}
			});
		}
		function detail(id) {
			$('#dd').dialog({
			    title: '菜单详情',
			    modal:true
			});
			var url = 'detail'
			if (id != null && id != "") {
				url += '?id='+id;
			}else{
				$.messager.alert('操作提示','请选择数据！','error');
				return ;
			}
			$('#dd').dialog('refresh', url);
			$('#dd').dialog('open');
			$("#dd").panel("move",{top:$(document).scrollTop() + ($(window).height()* 0.5) -250});
		}
		function closeDetail() {
	    	$('#dd').dialog('close');
		}
	</script>
</body>
</html>