<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理</title>
	<link th:href="@{../../jquery-easyui-1.6.6/themes/default/easyui.css}" href="../../../static/jquery-easyui-1.6.6/themes/default/easyui.css" rel="stylesheet" type="text/css">
    <link th:href="@{../../jquery-easyui-1.6.6/themes/icon.css}" href="../../../static/jquery-easyui-1.6.6/themes/icon.css" rel="stylesheet" type="text/css">
    <script th:src="@{../../jquery-easyui-1.6.6/jquery.min.js}" src="../../../static/jquery-easyui-1.6.6/jquery.min.js" type="text/javascript"></script>
    <script th:src="@{../../jquery-easyui-1.6.6/jquery.easyui.min.js }" src="../../../static/jquery-easyui-1.6.6/jquery.easyui.min.js" type="text/javascript"></script>
    <script th:src="@{../../jquery-easyui-1.6.6/locale/easyui-lang-zh_CN.js }" src="../../../static/jquery-easyui-1.6.6/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
	<style type="text/css">
	.datagrid-header-inner{
	width: 100%
	}
	.datagrid-view2 table{
	width: 100%
	}
	</style>
</head>
<body>
	<div class="easyui-panel" style="width:100%;height: 100%;" data-options="fit:true" >
		<table style="width: 100%;height: 100%;border: 0;">
			<tr>
				<td>
					<div id="tb" style="padding:5px;height:auto">
						<div style="margin-bottom:5px">
						
							<a href="javascript:void(0);" sec:authorize="hasRole('ROLE_USERROLE')" th:onclick="'parent.openDialog(\'添加\',\'userrole/form\',400,\'\')'" class="easyui-linkbutton" iconCls="icon-add" plain="true"></a>
							<a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true"></a>
							<a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true"></a>
							<a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true"></a>
							<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true"></a>
						</div>
						<div>
							<form id="searchForm" action="list" method="post">
								用户id：<input name="userId" th:value="${param.userId}" class="easyui-textbox" style="width:100px;height:32px">
								角色id：<input name="roleId" th:value="${param.roleId}" class="easyui-textbox" style="width:100px;height:32px">
								创建时间：<input name="createDate" th:value="${param.createDate}" class="easyui-textbox" style="width:100px;height:32px">
								创建者：<input name="createBy" th:value="${param.createBy}" class="easyui-textbox" style="width:100px;height:32px">
								<a href="#" class="easyui-linkbutton" onclick="$('#searchForm').submit();" iconCls="icon-search">Search</a>
							</form>
						</div>
					</div>
					<table title="管理" class="easyui-datagrid" fitColumns="true" style="width:100%;height:100%" singleSelect="true" rownumbers="true" toolbar='#tb'>
						<thead>
							<tr style="width: 100%">
								<th field="userId">用户id</th>
								<th field="roleId">角色id</th>
								<th field="createDate">创建时间</th>
								<th field="createBy">创建者</th>
								<th field="操作">操作</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="entity:${page.result}">
								<tr>
									<td th:text="${entity.id}"></td>
									<td th:text="${entity.userId}"></td>
									<td th:text="${entity.roleId}"></td>
									<td th:text="${entity.createDate}"></td>
									<td th:text="${entity.createBy}"></td>
									<td >
										<a href="#" class="easyui-linkbutton" th:onclick="'parent.openDialog(\'编辑\',\'userrole/form?id=' + ${entity.id} +'\',400,\'\')'">编辑</a>
										<a href="#" class="easyui-linkbutton" th:onclick="'parent.del(\'userrole/delete?id='+${ entity.id}+'\')'">删除</a>
										<a href="#" class="easyui-linkbutton" th:onclick="'parent.openDialog(\'详情\',\'userrole/detail?id=' + ${entity.id} +'\',400,\'\')'">详情</a>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td height="36px">
					<div id="dataTablePagination" class="easyui-pagination" style="border:1px solid #ccc;" pagePosition="bottom" th:attr="data-options='pageNumber:'+${page.pageNum}+',total:'+${page.total}+',pageSize:'+${page.pageSize}+',onSelectPage:selectPage'">
					</div>
				</td>
			</tr>
		</table>
	</div>
	<script type="text/javascript">
		function selectPage(pageNumber, pageSize){
			window.location.href=window.location.pathname+'?pageNumber='+pageNumber+'&pageSize='+pageSize+'&'+$("form").serialize();
		}
	</script>
</body>
</html>